ServiceInventoryFeesAnalyticsandStandardsTool/Workflows/CopyServiceStandtoChildrenService-43F79079-0376-EB11-A812-0022486D66D3.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"si_sharedcommondataservice_69276"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"si_sharedcommondataserviceforapps_9977a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"_si_parentservice_value":{"title":"Parent Service","type":"string","format":"guid"},"si_serviceid":{"title":"Service","type":"string","format":"guid"}},"required":["_si_parentservice_value","si_serviceid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"si_services"}}}},"actions":{"List_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"si_service_si_servicestandardset","$select":"si_servicestandardid,si_serviceid","$filter":"si_serviceid eq '@{triggerBody()?['entity']?['_si_parentservice_value']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Relate_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"si_services","recordId":"@triggerBody()?['entity']?['si_serviceid']","associationEntityRelationship":"si_Service_si_ServiceStandard","item/@odata.id":"https://pace-dev-tcd365.crm3.dynamics.com/api/data/v9.1/si_servicestandards(@{items('Apply_to_each')?['si_servicestandardid']})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}